<!DOCTYPE html>
<html>
  <head>
    <title>RemoteMD</title>    
    <link rel="stylesheet" type="text/css" href="doctor.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quantico' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
  </head> 
  <body>
    <div id="container">
      <h2>RemoteMD</h2>
      <div id="robotsID">
        <select>
          <option selected="selected">Select a Robot</option>
          <option value=></option>
        </select>
    
        <button type="submit"><a href="navigation.html">let's Start!</a></button>
      </div>
      <div id="robot">
        <img src="./icons/robot.png">
      </div>
    </div>  
  </body>
</html>
