<!DOCTYPE html>
<html>
  <head>
    <title>RemoteMD</title>    
    <link rel="stylesheet" type="text/css" href="doctor-style.css">
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
  </head> 
  <body>
    <div id="container">
      <div id="header">
        <h1>RemoteMD</h1>
      </div>
      <div id="robotsID">
        <h2>Select a RobotID:</h2>
        <select name="robotsID">
          <option value=></option>
        </select>
      </div>
      <div id="buttons">
        <a href="./navigation.html">let's Start!</a>
      </div>
      <div id="robot">
        <img src="./icons/robot.png">
      </div>
    </div>  
  </body>
</html>
