<!DOCTYPE html>
<html>
  <head>
    <title>RemoteMD</title>    
    <link rel="stylesheet" type="text/css" href="doctor.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quantico' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
  </head> 
  <body>
    <div id="container">
      <h2>RemoteMD</h2>
      <div id="robotsID">
          <form class="form" id="doctor-form" method="post" action="/choosepatient">
              <label id="errorlabel"></label>
              <select id="mypatients" name="mypatients" required>
              </select>
              <button type="submit" name="submitbutton" value="back">Back</button>
              <button type="submit" name="submitbutton" value="start">Let's Start!</button>
          
              <script>
                  function httpGetAsync(theUrl, callback) {
                      var xmlHttp = new XMLHttpRequest();
                      xmlHttp.onreadystatechange = function () {
                          if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                              callback(JSON.parse(xmlHttp.responseText));
                      }
                      xmlHttp.open("get", theUrl, true); // true for asynchronous 
                      xmlHttp.send(null);
                  }

                  function updateMyPatients(patientInfo) {
                      console.log(patientInfo);
                      if (patientInfo.hasOwnProperty('error')) {
                          window.location.href = '/?error=unauthorized';
                      }
                      var mypatients = patientInfo.mypatients;
                      if (mypatients.length == 0) {
                          var errorlabel = document.getElementById("errorlabel");
                          errorlabel.innerText = "You have no patients!";
                          return;
                      }
                      var dropdown = document.getElementById("mypatients");
                      for (i = 0; i < mypatients.length; i++) {
                          var option = document.createElement("option");
                          option.text = mypatients[i];
                          option.value = mypatients[i];
                          dropdown.add(option);
                      }
                  }
                  httpGetAsync('/getpatients', updateMyPatients);
              </script>
          </form>
      </div>
      <div id="robot">
        <img src="./icons/robot.png">
      </div>
    </div>  
  </body>
</html>
