<!DOCTYPE html>
<html>
  <head>
    <title>RemoteMD</title>    
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head> 
  <body>
    <div id="container">
      <h2>RemoteMD</h2>
        <form class="form">
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
          <button type="submit" id="login-button">Doctor</button>
          <button type="submit" id="login-button">Patient</button>
        </form>
        <div id="robot">
          <img src="icons/robot.png" />
        </div>
    </div>  
  </body>
</html>
