<!DOCTYPE html>
<html>
  <head>
    <title>RemoteMD</title>    
    <link rel="stylesheet" type="text/css" href="navigation.css" />
  </head> 
  <body>
    <div id="state">
      <header>Robot's state</header>
      <p></p>
    </div>
      <canvas id="myCanvas" width="2000" height="2000" style="border:1px solid #d3d3d3;">
          Your browser does not support the HTML5 canvas tag.
      </canvas>
    <div class="container">
        <div id="buttons1">
          <img id="flash" onclick="flashlight()" src="icons/flash.png" /> 
          <img onclick="turnLeft(90)" src="icons/left1.png"/>
          <img onclick="turnLeft(45)" src="icons/left2.png"/>
          <img onclick="turnLeft(20)" src="icons/left3.png"/>
        </div>
        <div id="move">
          <img id="forward" onclick="forward()" src="icons/forward.png"/>
          <img id="stop" onclick="stop()" src="icons/stop.png"/>
          <img id="back" onclick="back()" src="icons/back.png"/>
        </div>
        <div id="buttons2">         
          <img onclick="turnRight(20)" src="icons/right3.png"/>
          <img onclick="turnRight(45)" src="icons/right2.png"/>
          <img onclick="turnRight(90)" src="icons/right1.png"/>
        </div>
    </div>  
  </body>
</html>
<script type="text/javascript" src="script.js"></script>