#container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(209, 232,255);
}

/* navigation buttons */
#buttons {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 25px;
}

button {
  position: relative;
  left: 50%;
  margin: 30px;
}

/* icons */
img {
  width: 65px;
  height: 65px;
}

/* without flashlight */
.navigation {
  position: relative;
  width: 75px;
  height: 75px;
  right: 6px;
}

/* round buttons */
#flash, #stop, #go {
  border-radius: 50%;  
  border: none;
  box-shadow:  0 0 4px black;
  width: 75px;
  height: 75px;
}

#right, #left {
  border-style: none;
  background-color: transparent;
}

/* aux classes */
.lightOff {
  background-color: white;
}

.lightOn {
  background-color: #fffc66;
}

.none {
  background-color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: greenyellow;
}

