body {
  background-color: rgb(209, 232,255);
}

#container {
  position: absolute;
  right: 0;
  bottom: 2%;;
  left: 0;
  
}

/*buttons div*/
#buttons1 {
  width: 35%;
  height: 40%;
  display: inline-block;
  text-align: center;
  
}

#move {
  width: 20%;
  height: 40%;
  display: inline-block;
  text-align: center;
}

#forward, #back {
  width: 20%;
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

#buttons2 {
  width: 35%;
  height: 40%;
  display: inline-block;
  text-align: center;
}


img {
  width: 12%;
  margin: 3%;
  border-style: none;
  border-radius: 50%;
  display: inline-block;
}

img:hover {
  opacity: 0.7;
}

/* aux classes */
.lightOff {
  background-color: white;
}

.lightOn {
  background-color: #fffc66;
}

.none {
  background-color: white;
}

.green {
  background-color: rgb(135, 248, 100);
}

.red {
  background-color: rgb(219, 0, 0);
}




