#container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(209, 232,255);
}

/*buttons div*/
#buttons {
  width: 100%;
  height: 15%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 2%;
  display: inline-block;
}


img {
  width: 5%;
  margin: 3%;
  border-style: none;
}

img:hover {
  opacity: 0.7;
}




.round {
  border-radius: 50%;
}

.navigation {
  border-style: none;
  background-color: transparent;
}



/* aux classes */
.lightOff {
  background-color: white;
}

.lightOn {
  background-color: #fffc66;
}

.none {
  background-color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: greenyellow;
}




