<!DOCTYPE html>
<html>
  <head>
    <title>RemoteMD</title>    
    <link rel="stylesheet" type="text/css" href="navigation-style.css">
    <script type="text/javascript" src="script.js"></script>
  </head> 
  <body>
    <div id="container">
      <div id="buttons">
        <button id="flash" class="lightOff" onclick="flashlight()"> 
          <img src="./icons/flash.png">
        </button>
        <button id="left" onclick="turnLeft()"> 
          <img class="navigation" src="./icons/left.png">
        </button>
        <button id="stop" class="none" onclick="stop()"> 
            <img class="navigation" src="./icons/stop.png">
        </button>
        <button id="go" class="none" onclick="go()"> 
            <img class="navigation" src="./icons/go.png">
        </button>
        <button id="right" onclick="turnRight()"> 
          <img class="navigation" src="./icons/right.png">
        </button>
      </div>
    </div>  
  </body>
</html>